/*@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}*/


* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}


body {
background: #f2f5ff;
}


.auth-container {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
padding: 20px;
}


.auth-box {
background: white;
padding: 40px;
border-radius: 16px;
box-shadow: 0 8px 20px rgba(0,0,0,0.1);
width: 350px;
}


.auth-box h2 {
text-align: center;
margin-bottom: 20px;
color: #1b1b3a;
}


form input {
width: 100%;
margin: 10px 0;
padding: 12px;
border: 1px solid #ccc;
border-radius: 10px;
font-size: 15px;
}


button {
width: 100%;
padding: 12px;
background: #4b6bfb;
}

.dropdown-box {
margin-top: 10px;
display: flex;
flex-direction: column;
gap: 10px;
background: #ffffff;
padding: 15px;
border-radius: 10px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.dropdown-box a {
text-decoration: none;
color: #4b6bfb;
font-weight: 500;
}